<div class="row">
  <div class="col">
    <div class="form-group">
      <label for="exampleInputEmail1">Nombre materia</label>
      <input

      [(ngModel)]="nombre"
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Ingresando materias"
      />
    </div>

    <div class="col text-end">
      <button (click)="agregar()" class="btn btn-primary">Agregar</button>
    </div>
  </div>
</div>



<div class="row">
  <div class="col">
    <h2>Materias</h2>
    <hr>
    <ul *ngIf="arreglo.length > 0;else sindatos" class="list-group">
      <li *ngFor="let item of arreglo" class="list-group-item disabled">{{item.nombremateria}}</li>

    </ul>

    <ng-template #sindatos>
      <div class="alert alert-warning" role="alert">
        Sin datos de alumnos
      </div>

    </ng-template>
  </div>
</div>

