<div class="row">
  <div class="col">
      <div class="form-group">
        <label for="exampleInputEmail1">Nombre</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresando alumno">

      </div>

  <div class="col text-end">
    <button class="btn btn-primary">Agregar</button>
  </div>
</div>

<div class="row">
  <div class="col">


    <h2>Alumnos</h2>
    <hr>
    <ul class="list-group">
      <li class="list-group-item disabled">Santiago anotnio mariscal</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Morbi leo risus</li>
      <li class="list-group-item">Porta ac consectetur ac</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>

  </div>
</div>
