<ul class="list-group">
  <li class="list-group-item"><a routerLink="/episodio1">Episodio 1 de signal</a></li>
  <li class="list-group-item"><a routerLink="/episodio2">Episodio 2 Contadores multiples</a></li>
  <li class="list-group-item"><a routerLink="/episodio3">Episodio 3 con mutate</a></li>
  <li class="list-group-item"><a routerLink="/episodio4">Episodio 4 <strong>Lista de alumnos</strong></a></li>
  <li class="list-group-item"><a routerLink="/episodio5">Episodio 5 <strong>Terminanando de entender los effect</strong></a></li>
  <li class="list-group-item"><a routerLink="/episodio6">Episodio 6 <strong>Topicos avanzados</strong></a></li>
</ul>


<div  style="    margin-bottom: 30px !important;
margin: 60px;">
  <router-outlet></router-outlet>
</div>
