<div class="row">
  <div class="col">
    <h2>Resultado alumnos</h2>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="form-group">
      <label for="exampleFormControlSelect1">Alumnos</label>
      <select [(ngModel)]="alumno" class="form-control" id="exampleFormControlSelect1">
        <option *ngFor="let item of miarregloSignalalumno()" [value]="item.identificador">{{item.nombre}}</option>
      </select>
    </div>
  </div>
  <div class="col-6">
    <div class="form-group">
      <label for="exampleFormControlSelect1">Materias</label>
      <select  [(ngModel)]="materia" class="form-control" id="exampleFormControlSelect1">
        <option *ngFor="let item of miarregloMateriasConeffect" [value]="item.identificador">{{item.nombremateria}}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col text-end"><button (click)="agregandomateriasalumnos()" class="btn btn-light">Agregar</button></div>
  </div>



  <app-tablasgenerica></app-tablasgenerica>

</div>
