<div class="row">
  <div class="col">
    <h2>Resultado alumnos</h2>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="form-group">
      <label for="exampleFormControlSelect1">Alumnos</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
  </div>
  <div class="col-6">
    <div class="form-group">
      <label for="exampleFormControlSelect1">Materias</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col text-end"><button class="btn btn-light">Agregar</button></div>
  </div>


  <div class="row">
    <div class="col">


      <h2>Resultado de alumnos</h2>

      <table class="table table-hover">
        <thead>

          <tr>
            <th>Nombre</th>
            <th>Materias</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Nombre</td>
            <td>

              <ul class="list-group">
                <li class="list-group-item disabled">Santiago anotnio mariscal</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>

            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
